body {
  font-family: Comic Sans MS;
  font-style: italic;
  background-color: rgb(58, 193, 98);
  color: white;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

a {
  color: white;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  margin: 1rem;
}

#container-form {
  clear: both;
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  border: 1px solid white;
  border-radius: 0.4rem;
  margin: 0.5rem;
  background-color: rgb(101, 187, 127);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
